<div class="row">
    <div clas="col-sm-8 col-sm-offset-2">
        <h2>Enregister un nouveau film</h2>
        <form [formGroup]="movieForm" (ngSubmit)="onSaveMovie()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label for="releaseDate">Année</label>
                <input type="text" id="releaseDate" class="form-control" formControlName="releaseDate">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control" formControlName="description">
            </div>
            <div class="form-group">
                <h4>Ajouter une photo</h4>
                <input type="file" class="form-control" (change)="detectFiles($event)" accept="image/*">
                <p class="text-success" *ngIf="fileUploaded">File chargé</p>
            </div>
            <button type="submit" class="btn btn-success" 
                    [disabled]="movieForm.invalid || fileIsUploading">Enregistrer</button>
        </form>
    </div>
</div>
